<launch>
	<arg name="cam_idx" default="1" />
	<!-- 1: 125322063608, 2: 125322060645, 3: 125322061326, 4: 123122060454 -->
	<arg name="serial_no" default="125322063608" />

	<arg name="marker_size" default="5.65" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/cam$(arg cam_idx)/color/image_raw" />
	<arg name="cam_info_topic" default="/cam$(arg cam_idx)/color/camera_info" />
	<arg name="output_frame" default="/cam$(arg cam_idx)_link" />

	<param name="camera_idx" type="int" value="$(arg cam_idx)" />

	<include file="$(find realsense2_camera)/launch/rs_calibrate.launch">
		<arg name="camera" value="cam$(arg cam_idx)" />
		<arg name="serial_no" value="$(arg serial_no)" />
	</include>

	<node name="ar_track_$(arg cam_idx)" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>
</launch>